In [14]:
import pandas as pd

with open ('names.txt', 'r') as fi:
  names = (fi.read().split(','))

names.sort()
sum = 0
s = ' ABCDEFGHIGKLMNOPQRSTUVWXYZ'
res = []


for i in range(len(names)):
  aa = 0
  for j in names[i]:
    if s.find(j) != -1:
      aa += s.find(j)
  res.append(aa * (i+1))
  sum += aa * (i+1)


print(sum)

"ABBY"
120
863277354